# Server Configuration
PORT=3000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=24h

# Database Configuration
DB_NAME=database.sqlite
DB_USERNAME=
DB_PASSWORD=
DB_HOST=localhost
DB_DIALECT=sqlite
DB_STORAGE=database.sqlite
